
#imageGallery:-moz-drag-over {
    border: 1px solid red;
}
/* wrapper */
 #imageGallery {
    margin: 0 auto 20px;
    width:1430px;
    height: 1030px;
    position: relative;
}
.box {
    position: absolute;
    -moz-user-select:none;
    width:350px;
    height:250px;
    background-color: #ddd;
}

.picture {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

/* row 1 */
#spaceA {
    top: 0;
    left: 0;
}
#spaceB {
    top: 0;
    left: 360px;
}
#spaceC {
    top: 0;
    left: 720px;
}
#spaceD {
    top: 0;
    left: 1080px;
}

/* row 2 */
#spaceE {
    top: 260px;
    left: 0;
}
#spaceF {
    top: 260px;
    left: 360px;
}
#spaceG {
    top: 260px;
    left: 720px;
}
#spaceH {
    top: 260px;
    left: 1080px;
}

/* row 3 */
#spaceI {
    top: 520px;
    left: 0;
}
#spaceJ {
    top: 520px;
    left: 360px;
}
#spaceK {
    top: 520px;
    left: 720px;
}
#spaceL {
    top: 520px;
    left: 1080px;
}

/* row 4 */
#spaceM {
    top: 780px;
    left: 0;
}
#spaceN {
    top: 780px;
    left: 360px;
}
#spaceO {
    top: 780px;
    left: 720px;
}
#spaceP {
    top: 780px;
    left: 1080px;
}
